[Unit]
Description=KlipperScreen Encoder Mouse (BTT Pi patched version)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=biqu
WorkingDirectory=/home/biqu/Anycubic-Kobra-Neo-BTT-Pi-v1.2-Klipper-Screen-Conversion
ExecStart=/usr/bin/python3 /home/biqu/Anycubic-Kobra-Neo-BTT-Pi-v1.2-Klipper-Screen-Conversion/patches/EncoderMouse-BTT.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
